UID_DOMAIN = {{ condor_domain | mandatory }}
COLLECTOR_NAME = {{ condor_name }}
FILESYSTEM_DOMAIN = {{ condor_domain }}
CONDOR_ADMIN = {{ condor_admin }}

{% if condor_host is string -%}
CONDOR_HOST = {{ condor_host | mandatory }}
{% elif condor_host|length == 1 -%}
CONDOR_HOST = {{ condor_host[0] | mandatory }}
{% elif condor_host|length >1 -%}
CONDOR_HOST = {{ condor_host|join(', ') }} 
{% endif -%}
IN_HIGHPORT = {{ firewall_highport }}
IN_LOWPORT = {{ firewall_lowport }}
TRUST_UID_DOMAIN = TRUE

SEC_PASSWORD_FILE= {{ condor_pool_password_file_path }}
SEC_TOKEN_POOL_SIGNING_KEY_FILE= $(SEC_PASSWORD_DIRECTORY)/POOL


{% if enable_dynamicslot %}
NUM_SLOTS = 1
NUM_SLOTS_TYPE_1 = 1
SLOT_TYPE_1 = 100%
SLOT_TYPE_1_PARTITIONABLE = TRUE
{% endif %}

{% if ((enable_singularity) or (enable_apptainer)): %}
SINGULARITY_JOB = !isUndefined(TARGET.SingularityImage)
SINGULARITY_IMAGE_EXPR = TARGET.SingularityImage
SINGULARITY_TARGET_DIR = /srv
MOUNT_UNDER_SCRATCH = /tmp, /var/tmp
SINGULARITY_BIND_EXPR=ifThenElse( isUndefined(TARGET.SingularityBind),"/home",TARGET.SingularityBind)
SINGULARITY_EXTRA_ARGUMENTS=ifThenElse( isUndefined(TARGET.SingularityExtraArgs),"",TARGET.SingularityExtraArgs)
{% endif %}

{% if extra != '' %}
{{ extra }}
{% endif %}
