UID_DOMAIN = {{ condor_domain | mandatory }}
## Somtimes sssd is not working and test user is rejct to test. To prevent this issuse, set SOFT_UID_DOMAIN to True.
SOFT_UID_DOMAIN = TRUE
COLLECTOR_NAME = {{ condor_name }}
FILESYSTEM_DOMAIN = {{ condor_domain }}
CONDOR_ADMIN = {{ condor_admin }}

{% if condor_host is string -%}
CONDOR_HOST = {{ condor_host | mandatory }}
{% elif condor_host|length == 1 -%}
CONDOR_HOST = {{ condor_host[0] | mandatory }}
{% elif condor_host|length >1 -%}
{% for host in condor_host %}
CENTRAL_MANAGER{{ loop.index }} = {{ host }}
{% endfor %}
CONDOR_HOST = {{ condor_host|join(', ') }} 
{% endif -%}
IN_HIGHPORT = {{ firewall_highport }}
IN_LOWPORT = {{ firewall_lowport }}
TRUST_UID_DOMAIN = TRUE

SEC_PASSWORD_FILE= {{ condor_pool_password_file_path }}
SEC_TOKEN_POOL_SIGNING_KEY_FILE= $(SEC_PASSWORD_DIRECTORY)/POOL


USE_VOMS_ATTRIBUTES = True

{% if enable_dynamicslot %}
NUM_SLOTS = 1
NUM_SLOTS_TYPE_1 = 1
SLOT_TYPE_1 = 100%
SLOT_TYPE_1_PARTITIONABLE = TRUE
{% endif %}
{% if not enable_dynamicslot or enable_wholenode %}
NUM_SLOTS = 1
NUM_SLOTS_TYPE_1 = 1
SLOT_TYPE_1_PARTITIONABLE = FALSE
SLOT_TYPE_1_START = $(START){% if enable_wholenode %} && (TARGET.WantWholeNode =?= True) {% endif %}{% if pilot_users|length >0 %} &&({% endif %}{% for pilot_user in pilot_users %}(TARGET.Owner =?= "{{ pilot_user }}"){% if not loop.last %} || {% endif %}{% endfor %}{% if pilot_users|length >0 %} ){% endif %}
{% endif %}

{% if enable_testslot %}
## Add Test slot for SAM or other test
NUM_CPUS = $(DETECTED_CORES)+1
NUM_SLOTS = 2
NUM_SLOTS_TYPE_2 = 1
SLOT_TYPE_2 = cpus=1, ram=2000, disk=1%
SLOT_TYPE_2_PARTITIONABLE = false
SLOT_TYPE_2_START = $(START) {% if pilot_users|length >0 %} && {% endif %}{% for pilot_user in pilot_users %}(TARGET.Owner isnt "{{ pilot_user }}"){% if not loop.last %} && {% endif %}{% endfor %}


## SLOT_TYPE_1 need to re-configured.

SLOT_TYPE_1 = cpus=$(DETECTED_CORES), ram=auto, disk=auto
{% endif %}


{% if ((enable_singularity) or (enable_apptainer)): %}
SINGULARITY_JOB = !isUndefined(TARGET.SingularityImage)
SINGULARITY_IMAGE_EXPR = TARGET.SingularityImage
SINGULARITY_TARGET_DIR = /srv
MOUNT_UNDER_SCRATCH = /tmp, /var/tmp
SINGULARITY_BIND_EXPR=ifThenElse( isUndefined(TARGET.SingularityBind),"/home,/cvmfs,/etc/grid-security,/var/lib/condor",TARGET.SingularityBind)
SINGULARITY_EXTRA_ARGUMENTS=ifThenElse( isUndefined(TARGET.SingularityExtraArgs),"",TARGET.SingularityExtraArgs)
{% endif %}

MAX_HISTORY_ROTATIONS=10000


{% if extra != '' %}
{{ extra }}
{% endif %}
