use security:get_htcondor_idtokens
{% if "SCHEDD" in condor_daemon_list %}
# Allow local users to submit jobs.  Since the only way to authenticate
# is with IDTOKENS (all of whose holders we trust) and FS (the local users),
# we can avoid writing things like *@$(HOSTNAME), which will fail if
# UID_DOMAIN is set (and introduces more opportunities for DNS to fail).
ALLOW_WRITE = $(ALLOW_WRITE) *
{% endif %}

DAEMON_LIST = {{ condor_daemon_list }}
